h1{
    color:red;
    text-decoration: underline;
    margin-left: 84px;
    margin: 50px;
}

.chess-board {; border-collapse: collapse;padding: 1px 250px; }
.chess-board th { padding: .5em; }
.chess-board th + th { border-bottom: 1px solid #000000; }
.chess-board th:first-child,
.chess-board td:last-child { border-right: 1px solid #221f1f; }
.chess-board tr:last-child td { border-bottom: 1px solid; }
.chess-board th:empty { border: none; }
.chess-board td { width: 1.5em; height: 1.5em; text-align: center; font-size: 32px; line-height: 0;}
.chess-board .light { background: black; }
.chess-board .dark { background: wheat; }
.chess-board {
    margin: auto;
    margin-letf: 200px;
}
td:hover{
    transform: scale(1.4,1.4);
    color: blue;
    background-color: blue;
}
body{
    background-color: chartreuse;
    background-image: url(c1.jpeg);
    width: 100%;
}